.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;

  &--modified {
    color: var(--color-primary-dark);    
  }

  &:hover {
    color: var(--color-brand-normal);
  }
}

